[Unit]
Description=Run Workspace PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 02:35:00 Asia/Shanghai
RandomizedDelaySec=20m
Persistent=true
Unit=workspace-postgresql-backup.service

[Install]
WantedBy=timers.target
