WORKSPACE_DEV_SOURCE_DIR=/home/ubuntu/workspace-dev/source
WORKSPACE_DEV_RUNTIME_DIR=/home/ubuntu/workspace-dev/runtime/.workspace
WORKSPACE_DEV_BACKUP_DIR=/home/ubuntu/workspace-dev/backups/postgresql
