[Unit]
Description=Poll Workspace development PostgreSQL setting requests

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=sql-settings-worker.service

[Install]
WantedBy=timers.target
